.contactus-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
body {
  overflow-x: hidden;
}
.bold{
    font-weight: bold;
}
.contactus-image {
  background-image: url("/public/images/ourservices.jpg");
  height: 60vh;
  width: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactus-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.contactus-content {
  position: relative;
  text-align: center;
  color: white;
}
.contactus-content h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin: 0;
  color: #d4af37;
  margin-bottom: 5px;
}
.contactus-content h2 {
  font-size: 70px;
  font-weight: 700;
  margin: 0;
}
.contact-section {
   padding-top: 90px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}
.contact-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 40px;
  width: 90%;
  max-width: 1200px;
  text-align: center;
  padding: 40px 40px;
  background-color: #f5f5f5;
  border-radius: 10px;
  
}
.contactus-info h4,
.opening-info h4 {
  margin-top: 70px;
  
  margin-bottom: 30px;
}
.contactus-item {
  display: flex;
  align-items: center;
  margin-bottom: 0 px;
  color:back;
}
.contactus-item p{
    margin:0px;
    line-height: 1.9;
}
.contactus-item a{
    text-decoration: none;
    color:black ;
    line-height: 1.9;
}
.contactus-info{
    text-align: center;
 padding-left: 20px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.opening-info{
    text-align: center;
    padding-left: 20px;
     margin-top: 10px;
     border: 1px solid #ddd;
     border-radius: 8px;
     background-color: white;
     box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.form  {
  text-align: center;
  padding:40px 40px 30px 20px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.form h2 {
    font-size: 24px;
    color: #d4af37;
    margin: 0;
    letter-spacing: 1px;
  }
  
  .form h1 {
    font-size: 36px;
    margin: 0 0 30px 0;
    text-transform: uppercase;
  }

  .form-group {
    margin-bottom: 20px;
    padding-left: -2px;
    text-align: left;
  }
   
  .form-group label {
    
    display: flex;
    margin-bottom: 8px;
    font-weight: 500;
    color: #333;
  }
  .form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.form button {
    background-color: #d4af37;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  @media screen and (min-width: 1921px) {
    .contactus-container {
      width: 121%;
    }
  
    .contactus-image {
      width: 100%;
      height: 650px;
    }
  
    .contactus-content h1 {
      font-size: 4.8rem;
    }
  
    .contactus-content h2 {
      font-size: 5.9rem;
    }
  
    .contact-section {
      padding: 60px 0;
      width: 100%;
    }
  
    .contact-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      gap: 20px;
      padding: 10px;
      width: 100%;
    }
    
    .contactus-info,
    .opening-info,
    .form {
      font-size: 1.6rem;
      width: 32%;
      
      min-width: 220px;
      padding: 40px 0;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
    
  
    .form {
      margin-top: 20px;
    }
  
    .form h1 {
      font-size: 2.6rem;
    }
  
    .form h2 {
      font-size: 2.6rem;
    }
  
    .form-group input,
    .form-group textarea {
      font-size: 26px;
      padding: 10px;
    }
  
    .form-group label {
      font-size: 24px;
    }
  
    .contactus-item p,
    .contactus-item a {
      
      font-size: 1.8rem;
      text-align: center;
    }
    .contactus-item{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .contactus-form{
    
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
    .form button {
      width: 100%;
      max-width: 300px;
      font-size: 18px;
      padding: 12px 20px;
    }
  }
  @media screen and (min-width: 1441px) and (max-width: 1920px){
    .contactus-container {
      width: 108%;
    }
  
    .contactus-image {
      width: 100%;
      height: 650px;
    }
  
    .contactus-content h1 {
      font-size: 3.8rem;
    }
  
    .contactus-content h2 {
      font-size: 3.9rem;
    }
  
    .contact-section {
      padding: 60px 0;
      width: 100%;
    }
  
    .contact-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      gap: 20px;
      padding: 10px;
      width: 100%;
    }
    
    .contactus-info,
    .opening-info,
    .form {
      font-size: 1.6rem;
      width: 32%;
      
      min-width: 220px;
      padding: 40px 0;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
    
  
    .form {
      margin-top: 20px;
    }
  
    .form h1 {
      font-size: 28px;
    }
  
    .form h2 {
      font-size: 22px;
    }
  
    .form-group input,
    .form-group textarea {
      font-size: 20px;
      padding: 10px;
    }
  
    .form-group label {
      font-size: 18px;
    }
  
    .contactus-item p,
    .contactus-item a {
      
      font-size: 1.6rem;
      text-align: center;
    }
    .contactus-item{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .contactus-form{
    
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
    .form button {
      width: 100%;
      max-width: 300px;
      font-size: 18px;
      padding: 12px 20px;
    }
  }
  
  
  @media screen and (min-width: 1025px) and (max-width: 1440px) {
    .contactus-container {
      width: 106%;
    }
  
    .contactus-image {
      width: 100%;
      height: 450px;
    }
  
    .contactus-content h1 {
      font-size: 2.8rem;
    }
  
    .contactus-content h2 {
      font-size: 2.5rem;
    }
  
    .contact-section {
      padding: 60px 0;
      width: 100%;
    }
  
    .contact-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      gap: 20px;
      padding: 10px;
      width: 100%;
    }
    
    .contactus-info,
    .opening-info,
    .form {
      font-size: 1.6rem;
      width: 32%;
      
      min-width: 220px;
      padding: 40px 0;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
      text-align: center;
    }
    
   
    
  
    .form {
      margin-top: 20px;
    }
  
    .form h1 {
      font-size: 28px;
    }
  
    .form h2 {
      font-size: 22px;
    }
  
    .form-group input,
    .form-group textarea {
      font-size: 20px;
      padding: 10px;
    }
  
    .form-group label {
      font-size: 18px;
    }
  
    .contactus-item p,
    .contactus-item a {
      
      font-size: 1.2rem;
      text-align: center;
    }
    .contactus-item{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .contactus-form{
    
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
    .form button {
      width: 100%;
      max-width: 300px;
      font-size: 18px;
      padding: 12px 20px;
    }
  }
  
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .contactus-container {
      width: 100%;
    }
  
    .contactus-image {
      width: 100%;
      height: 350px;
    }
  
    .contactus-content h1 {
      font-size: 2.8rem;
    }
  
    .contactus-content h2 {
      font-size: 2.5rem;
    }
  
    .contact-section {
      padding: 60px 0;
      width: 100%;
    }
  
    .contact-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      width: 100%;
      gap: 20px;
    }
    
    .contactus-info,
    .opening-info,
    .form {
      font-size: 2.5rem;
      width: 90%; 
      max-width: 600px; 
      padding: 30px 20px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); 
      text-align: center; 
    }
  
    .form {
      margin-top: 20px;
    }
  
    .form h1 {
      font-size: 28px;
    }
  
    .form h2 {
      font-size: 22px;
    }
  
    .form-group input,
    .form-group textarea {
      font-size: 20px;
      padding: 10px;
    }
  
    .form-group label {
      font-size: 18px;
    }
  
    .contactus-item p,
    .contactus-item a {
      
      font-size: 1.6rem;
      text-align: center;
    }
    .contactus-item{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .contactus-form{
    
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
    .form button {
      width: 100%;
      max-width: 300px;
      font-size: 18px;
      padding: 12px 20px;
    }
  }
  

  @media screen and (min-width: 481px) and (max-width: 768px) {
    .contactus-container {
      width: 100%;
    }
  
    .contactus-image {
      width: 100%;
      height: 350px;
    }
  
    .contactus-content h1 {
      font-size: 2.8rem;
    }
  
    .contactus-content h2 {
      font-size: 2.5rem;
    }
  
    .contact-section {
      padding: 60px 0;
      width: 100%;
    }
  
    .contact-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      width: 100%;
      gap: 20px;
    }
    
    .contactus-info,
    .opening-info,
    .form {
      font-size: 1.9rem;
      width: 90%; 
      max-width: 600px; 
      padding: 30px 20px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); 
      text-align: center; 
    }
    .form {
      margin-top: 20px;
    }
  
    .form h1 {
      font-size: 28px;
    }
  
    .form h2 {
      font-size: 22px;
    }
  
    .form-group input,
    .form-group textarea {
      font-size: 20px;
      padding: 10px;
    }
  
    .form-group label {
      font-size: 18px;
    }
  
    .contactus-item p,
    .contactus-item a {
      
      font-size: 1.2rem;
      text-align: center;
    }
    .contactus-item{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .contactus-form{
    
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
    .form button {
      width: 100%;
      max-width: 300px;
      font-size: 18px;
      padding: 12px 20px;
    }
  }
  
  @media screen and (min-width: 320px) and (max-width: 480px) {
    .contactus-container {
      width: 139%;
    }
  
    .contactus-image {
      width: 108%;
      height: 250px;
    }
  .contactus-item{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
    .contactus-content h1 {
      font-size: 2rem;
    }
  
    .contactus-content h2 {
      font-size: 1.9rem;
    }
  
    .contact-section {
     
      padding: 40px 20px;
      width: 100%;
    }
  
    .contact-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      width: 100%;
      gap: 20px;
    }
  
    .contactus-info,
    .opening-info,
    .form {
      font-size: 2.9rem;
      width: 100%;
      padding: 20px;
      border-radius: 8px;
    }
  
    .form {
      
      margin-top: 20px;
    }
  
    .form h1 {
      font-size: 34px;
    }
  
    .form h2 {
      font-size: 30px;
    }
  .contactus-form{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
    .form-group input,
    .form-group textarea {
      font-size: 16px;
      padding: 10px;
    }
  
    .form-group label {
      font-size: 22px;
    }
  
    .contactus-item p,
    .contactus-item a {
      font-size: 26px;
      text-align: center;
    }
  
    .form button {
      width: 100%;
      font-size: 18px;
      padding: 10px;
    }
  }
  