.footer{
background-color: rgb(29, 29, 29);
color: white;
padding: 50px 120px;
}

.footer-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:40px;
    margin-bottom: 40px;
}


.footer-logo img{
    margin-bottom: 0px;
}


.service h3{
     margin: 5 0 10px 0;
    font-size: 20px;
    margin-bottom: 10px;
}
.contact-info h4,
.footer-location h4{
    margin-top: 160px;  
    font-size: 19px;
    margin-bottom: 15px;
} 
.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  
}
.contact-item p{
    margin-top: 1px;
    margin-bottom: 1px;
}
.contact-item a {
    color: #ffffff;
    text-decoration: none;
  
}
.contact-item a:hover  {
    cursor: pointer;
    color:rgb(255, 182, 72);
}




@media screen and (min-width: 1921px) {
    .footer {
      width:100%;
      padding: 80px 200px;
      
      margin: 0 auto;
    }
  
    .footer-content {
      grid-template-columns: repeat(3, 1fr);
      gap: 60px;
    }
  
    .footer-logo img {
      width: 220px;
    }
  
    .service h3,
    .contact-info h4,
    .footer-location h4 {
      font-size: 2.2rem;
    }
  
    .service-first-p,
    .service-second-p,
    .contact-item,
    .footer-location p {
      font-size: 1.8rem;
    }
  }
  

@media screen and (min-width: 1441px) and (max-width: 1920px) {
  body {
    overflow-x: hidden;
  }
    .footer {
      width:105%;
      padding: 60px 24px;
    }
  
    .footer-content {
      grid-template-columns: repeat(3, 1fr);
      gap: 50px;
    }
  
    .footer-logo img {
    
      width: 300px;
    }
  
    .service h3{
    
      font-size: 2.5rem;
    }
    .contact-info h4,
    .footer-location h4 {
      padding-top: 30px;
      font-size: 2.3rem;
    }
  
    .service-first-p,
    .service-second-p,
    .contact-item,
    .footer-location p {
      font-size: 1.3rem;
    }
  }
  
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  body {
    overflow-x: hidden;
  }
    .footer {
      width:100%;
      padding: 50px 39px;
    }
  
    .footer-content {
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
    }
  
    .footer-logo img {
      width: 180px;
    }
  
    .service h3,
    .contact-info h4,
    .footer-location h4 {
      font-size: 1.5rem;
    }
  
    .service-first-p,
    .service-second-p,
    .contact-item,
    .footer-location p {
      font-size: 1.2rem;
    }
  }
  
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .footer {
      padding: 40px 60px;
    }
  
    .footer-content {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  
    .footer-logo img {
      width: 160px;
      margin-bottom: 20px;
    }
  
    .service h3,
    .contact-info h4,
    .footer-location h4 {
      font-size: 1.6rem;
    }
  
    .service-first-p,
    .service-second-p,
    .contact-item,
    .footer-location p {
      font-size: 1.4rem;
    }
  }
  

@media screen and (min-width: 481px) and  (max-width: 768px) {
    .footer {
        width: 120%;
        padding: 30px; 
        box-sizing: border-box;
      }
    
      .footer-content {
        grid-template-columns: 1fr;
        text-align: center;
        justify-content: center;
        gap: 20px;
      }
    
      .footer-logo img {
        width: 180px;
        margin: 0 auto 20px;
      }
    
      .service h3 {
        margin: 5px 0;
        font-size: 1.8rem;
      }
    
      .service-first-p{
        font-size: 1.5rem;
        margin-bottom:6px;
    }
    .service-second-p{
        font-size: 1.5rem;
        gap:2px;
        margin:0px;
    }
    .contact-info h4{
        font-size: 1.7rem;
        gap:1px;
        justify-content: center;
    }
    
    .contact-item{
        font-size: 1.5rem;
        gap:1px;
        justify-content: center;
    }
    .footer-location h4{
        font-size: 1.7rem;
        gap:1px;
        justify-content: center;
    }
    .footer-location p{
        font-size: 1.5rem;
        margin: 0px;
        gap:1px;
        justify-content: center;
    }
} 
@media screen and (min-width: 320px) and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }  
  .footer {
        width:152%; 
        padding:10px;
        box-sizing: border-box;
    }
    
    .footer-content {
        grid-template-columns: 1fr;
        text-align: center;
        justify-content: center;
        gap:0px;
    }
    
    .footer-logo img {
        width:200px;

        margin: 0 auto 20px;
    }
    .service h3{
        margin: 5px;
        font-size: 2rem;
    }
    .service-first-p{
        font-size: 1.5rem;
        margin-bottom:6px;
    }
    .service-second-p{
        font-size: 1.5rem;
        gap:2px;
        margin:0px;
    }
    .contact-info h4{
        font-size: 1.7rem;
        gap:1px;
        justify-content: center;
    }
    
    .contact-item{
        font-size: 1.5rem;
        gap:1px;
        justify-content: center;
    }
    .footer-location h4{
        font-size: 1.7rem;
        gap:1px;
        justify-content: center;
    }
    .footer-location p{
        font-size: 1.5rem;
        margin: 0px;
        gap:1px;
        justify-content: center;
    }
} 